<template>
	<div class="default">
		<div class="main-page">
			<main>
				<Nuxt />
			</main>
		</div>
	</div>
</template>

<script>
export default {
	name: 'default'
}
</script>
<style scoped>
.main-page {
	background: #dfe0d9;
	width: 375px;
	height: 812px;
	margin: 0 auto;
}
</style>
