@font-face {
	font-family: 'LightFont';
	src: url(~static/fonts/akzidenzgrotesk-light-webfont.ttf) format('truetype');
}
@font-face {
	font-family: 'RegularFont';
	src: url(~static/fonts/akzidenzgrotesk-regular-webfont.ttf)
		format('truetype');
}
@font-face {
	font-family: 'MediumFont';
	src: url(~static/fonts/akzidenzgrotesk-medium-webfont.ttf)
		format('truetype');
}
@font-face {
	font-family: 'BoldFont';
	src: url(~static/fonts/akzidenzgrotesk-bold-webfont.ttf) format('truetype');
}

html {
	font-family: 'MediumFont';
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
button {
	outline: none;
	background: none;
	border: none;
	font-family: 'BoldFont';
	font-size: 16px;
	letter-spacing: -0.2px;
	color: #1b1b1b;
}
.page-name {
	font-size: 16px;
	letter-spacing: -0.2px;
	color: #1b1b1b;
	font-family: 'BoldFont';
}
