<template>
	<div class="home">
		<navbar />
		<section class="main-content">
			<nuxt-link to="/page-two" class="back-click">
				<button>
					<svg
						width="22"
						height="10"
						viewBox="0 0 22 10"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path d="M6 0L0 5L6 10V6H22V4H6V0Z" fill="#1B1B1B" />
					</svg>
				</button>
				<p class="page-name">Matchmaking Lobby</p>
			</nuxt-link>
			<players-lobby />
		</section>
		<div class="snack-bar-container">
			<snack-bar width="100%" color="#fff" background="#293894">
				<button>Play Now</button>
				<p class="progress-info">4,021 in Queue</p>
				<nuxt-link to="/page-two">
					<svg
						width="22"
						height="12"
						viewBox="0 0 22 12"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M16 0L22 6L16 12V7.2H0V4.8H16V0Z"
							fill="white"
						/>
					</svg>
				</nuxt-link>
			</snack-bar>
		</div>
	</div>
</template>

<script>
import Navbar from '../components/global/Navbar'
import SnackBar from '../components/global/SnackBar'
import PlayersLobby from '../components/player/PlayersLobby'

export default {
	name: 'IndexPage',
	components: {
		PlayersLobby,
		SnackBar,
		Navbar
	}
}
</script>

<style scoped>
.home {
	background: url(./../assets/images/bg-one.png) no-repeat;
	background-position: top right;
	background-size: cover;
	height: 812px;
}
.main-content {
	padding: 15px;
	height: 620px;
}
.back-click {
	padding-bottom: 10px;
	border-bottom: 1px solid #cfd1c7;
	display: flex;
	align-items: center;
	text-decoration: none;
}
.back-click button {
	margin-right: 25px;
}
</style>
