<template>
	<div class="page-three">
		<nav-bar />
		<section class="main-content">
			<nuxt-link to="/page-two">
				<back-button />
			</nuxt-link>
			<MatchmakingLobby :wrapperContent="wrapperContent" />
		</section>
		<div class="snack-bar-container">
			<snack-bar width="294px" color="#fff" background="#293894">
				<button>Accept</button>
				<p class="progress-info">-00:17</p>
				<svg
					width="22"
					height="12"
					viewBox="0 0 22 12"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path d="M16 0L22 6L16 12V7.2H0V4.8H16V0Z" fill="white" />
				</svg>
			</snack-bar>
		</div>
	</div>
</template>

<script>
import MatchmakingLobby from '../components/global/MatchmakingLobby'
import SnackBar from '../components/global/SnackBar'
import NavBar from '~/components/global/NavBar'
import BackButton from '~/components/global/BackButton'

export default {
	name: 'PageThree',
	components: {
		SnackBar,
		MatchmakingLobby,
		NavBar,
		BackButton
	},
	data() {
		return {
			wrapperContent: {
				pageName: 'Matchmaking Lobby',
				mainText: 'A match has been found for you!',
				subText:
					'We’ve found a compatible opponent for you to play Squad Battles with in FIFA 19',
				lobbyUpdate:
					'By tapping accept, you agree to play a match that may last for up to 30 minutes.'
			}
		}
	}
}
</script>
<style scoped>
.page-three {
	background: url(./../assets/images/bg-three.png) no-repeat;
	background-position: top right;
	background-size: cover;
	height: 812px;
}
.snack-bar-container {
	position: inherit;
	left: 0;
	bottom: 0;
	z-index: 10;
	float: right;
	margin-top: -45px;
	z-index: 12;
}
</style>
