<template>
	<div class="page-two">
		<nav-bar />
		<section class="main-content">
			<nuxt-link to="/">
				<back-button />
			</nuxt-link>
			<MatchmakingLobby :wrapperContent="wrapperContent" />
		</section>
		<div class="snack-bar-container">
			<snack-bar width="294px" color="#fff" background="#1B1B1B">
				<button>Searching...</button>
				<p class="progress-info">01:42</p>
				<svg
					width="14"
					height="14"
					viewBox="0 0 14 14"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<rect
						x="2.05023"
						y="0.636047"
						width="16"
						height="2"
						transform="rotate(45 2.05023 0.636047)"
						fill="white"
					/>
					<rect
						width="16"
						height="2"
						transform="matrix(-0.707107 0.707107 0.707107 0.707107 11.9498 0.636047)"
						fill="white"
					/>
				</svg>
			</snack-bar>
		</div>
	</div>
</template>

<script>
import MatchmakingLobby from '../components/global/MatchmakingLobby'
import SnackBar from '../components/global/SnackBar'
import NavBar from '~/components/global/NavBar'
import BackButton from '~/components/global/BackButton'

export default {
	name: 'PageThree',
	components: {
		SnackBar,
		MatchmakingLobby,
		NavBar,
		BackButton
	},
	data() {
		return {
			wrapperContent: {
				pageName: 'Matchmaking Lobby',
				mainText: 'Searching for compatible opponents',
				subText:
					'We’re searching our database of players to pair you with an opponent of similar skill',
				lobbyUpdate: 'in Queue',
				queueCount: '4,021'
			}
		}
	}
}
</script>
<style scoped>
.page-two {
	background: url(./../assets/images/bg-two.png) no-repeat;
	background-position: top right;
	background-size: cover;
	height: 812px;
}
.snack-bar-container {
	position: inherit;
	left: 0;
	bottom: 0;
	z-index: 10;
	float: right;
	margin-top: -45px;
	z-index: 12;
}
</style>
