<template>
	<div class="table">
		<table>
			<tr v-for="data in gameData" :key="data.key">
				<th>{{ data.label }}</th>
				<td>{{ data.value }}</td>
				<td>
					<svg
						width="12"
						height="8"
						viewBox="0 0 12 8"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M10.1091 0.251038L11.9381 2.08004L6.09459 7.92358L0.250914 2.0799L2.08132 0.251132L6.09464 4.26554L10.1091 0.251038Z"
							fill="#1B1B1B"
						/>
					</svg>
				</td>
			</tr>
		</table>
	</div>
</template>

<script>
export default {
	name: 'MiniTable',
	components: {},
	//   props: {},
	data() {
		return {
			gameData: [
				{
					label: 'Type',
					value: 'Competitive'
				},
				{
					label: 'Gamemode',
					value: 'Squad Battles'
				},
				{
					label: 'Lobby Status',
					value: 'Invite Only'
				}
			]
		}
	}
}
</script>

<style scoped>
.table {
	width: 100%;
	border-collapse: collapse;
}
table {
	width: 100%;
	border-collapse: collapse;
}
tr {
	width: 100%;
}
th,
td {
	text-align: left;
	padding: 15px 0;
	font-size: 14px;
	letter-spacing: -0.3px;
	color: #1b1b1b;
	border-top: 1px solid #cfd1c7;
}
td {
	font-family: 'LightFont';
}
</style>
