<template>
	<div class="players-lobby">
		<div class="lobby-name">
			<h3 class="">{{ username }}'s lobby</h3>
			<svg
				width="12"
				height="16"
				viewBox="0 0 12 16"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M9.6 4V6.4C10.48 6.4 11.2 7.12 11.2 8V14.4C11.2 15.28 10.48 16 9.6 16H1.6C0.72 16 0 15.28 0 14.4V8C0 7.12 0.72 6.4 1.6 6.4V4C1.6 1.76 3.36 0 5.6 0C7.84 0 9.6 1.76 9.6 4ZM3.2 6.4H8V4C8 2.64 6.96 1.6 5.6 1.6C4.24 1.6 3.2 2.64 3.2 4V6.4Z"
					fill="#1B1B1B"
				/>
			</svg>
		</div>
		<p class="game-name">{{ gameName }}</p>
		<div class="players-card-container">
			<div class="card">
				<div class="card-image">
					<img
						src="../../assets/images/avatar.png"
						alt="user image"
					/>
				</div>
				<p class="rank">Team Leader /</p>
				<p class="username">steveroesler</p>
				<div class="sprint">
					<p class="status">Ready</p>
					<p class="status-brand">
						<svg
							width="11"
							height="12"
							viewBox="0 0 11 12"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M10.5 5.15754V11.1086H8.30706L8.17358 10.044C7.38055 10.9594 6.22829 11.4466 5.04625 11.3665C4.39593 11.3719 3.74998 11.2554 3.13935 11.0226C2.5481 10.7951 2.00433 10.4517 1.53755 10.0109C1.04272 9.5296 0.660088 8.93707 0.418828 8.27853C0.13377 7.49749 -0.00642458 6.66733 0.00566507 5.83199C-0.0614032 4.27777 0.469242 2.75974 1.48034 1.61337C2.52241 0.515004 3.96502 -0.0693996 5.4467 0.00658533C6.62003 -0.0323315 7.77292 0.332574 8.72658 1.04471C9.63602 1.7645 10.2292 2.8343 10.3729 4.01362H7.13749C6.96481 3.16837 6.21781 2.58626 5.38949 2.65149C4.78266 2.62395 4.21159 2.9503 3.90846 3.49786C3.54482 4.21075 3.37349 5.01276 3.41267 5.81877C3.41267 7.77159 4.13941 8.748 5.5929 8.748C5.97882 8.7409 6.35436 8.61681 6.67348 8.39094C6.98912 8.19096 7.2172 7.87066 7.30911 7.49828H5.83444V5.15754H10.5Z"
								fill="#E94235"
							/>
						</svg>

						<span>74</span>
					</p>
				</div>
			</div>
			<div class="card">
				<div class="card-image"></div>
				<p class="rank">Team Player /</p>
				<p class="username">
					Invite Player
					<svg
						width="8"
						height="12"
						viewBox="0 0 8 12"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M0.251038 1.89086L2.08004 0.0618591L7.92358 5.90541L2.0799 11.7491L0.251132 9.91868L4.26554 5.90536L0.251038 1.89086Z"
							fill="#1B1B1B"
						/>
					</svg>
				</p>
			</div>
		</div>
		<div class="game-data-table">
			<MiniTable />
		</div>
	</div>
</template>

<script>
import MiniTable from './MiniTable'

export default {
	name: 'PlayersLobby',
	components: {
		MiniTable
	},
	data() {
		return {
			username: 'steveroesler',
			gameName: 'Fifa 19'
		}
	}
}
</script>

<style scoped>
.players-lobby {
	margin-top: 10px;
}
.lobby-name {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.lobby-name h3 {
	color: #1b1b1b;
	font-size: 36px;
	font-family: 'BoldFont';
	letter-spacing: -2px;
	font-weight: normal;
}
.lobby-name svg {
	margin-left: 10px;
}
.game-name {
	padding: 1px 6px;
	background: #1b1b1b;
	color: #fff;
	font-size: 10px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	margin: 10px 0;
	border-radius: 0px 100px 100px 0px;
	width: max-content;
}
.players-card-container {
	padding: 10px 0;
	display: flex;
}
.card {
	width: 140px;
}
.card:first-child {
	margin-right: 15px;
}
.card-image {
	width: 140px;
	height: 187px;
	border-radius: 6px;
	filter: drop-shadow(0px 2px 12px rgba(107, 107, 101, 0.251748));
	border: 1px solid #cfd1c7;
}
.card img {
	width: 140px;
	height: 187px;
	object-fit: cover;
	border-radius: 6px;
}
.rank {
	font-size: 12px;
	color: #6b6b65;
	margin: 15px 0 0px;
	font-family: 'LightFont';
}
.username,
.status {
	color: #1b1b1b;
	font-size: 16px;
	font-family: 'BoldFont';
}
.username {
	display: flex;
	align-items: center;
}
.username svg {
	margin-left: 10px;
}
.sprint {
	display: flex;
	padding: 10px 0 25px;
	align-items: center;
}
.status {
	font-size: 10px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #1b1b1b;
	border: 1px solid #1b1b1b;
	padding: 1px 5px;
	width: max-content;
	margin-right: 10px;
	height: 17px;
}
.status-brand {
	color: #e94235;
	font-family: 'BoldFont';
	display: flex;
	margin-top: -2px;
}
.status-brand span {
	font-size: 11px;
	line-height: 13px;
	letter-spacing: -0.5px;
	color: #e94235;
	padding-left: 2px;
}
.status-brand svg {
	margin-top: 2px;
}
</style>
