<template>
	<div class="back-button">
		<svg
			width="22"
			height="10"
			viewBox="0 0 22 10"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path d="M6 0L0 5L6 10V6H22V4H6V0Z" fill="#fff" />
		</svg>
	</div>
</template>

<script>
export default {
	name: 'BackButton'
}
</script>
<style lang="css" scoped>
.back-button {
  background: #1B1B1B;
  width: 105px;
  height: 105px;
}
.back-button svg{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
