<template>
	<div class="gfinity-logo">
		<div class="logo-wrap">
			<svg
				width="73"
				height="14"
				viewBox="0 0 73 14"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					d="M13.0432 6.47684V13.1084H10.4733L10.3168 11.9221C9.38749 12.9421 8.03717 13.4851 6.65194 13.3958C5.88982 13.4018 5.13284 13.272 4.41724 13.0126C3.72437 12.7591 3.08713 12.3764 2.5401 11.8853C1.96022 11.3489 1.51181 10.6886 1.22908 9.95474C0.895022 9.08438 0.730729 8.15929 0.744897 7.22842C0.6663 5.49646 1.28816 3.80484 2.47306 2.52737C3.69425 1.3034 5.38484 0.652168 7.12122 0.736842C8.49624 0.693475 9.84731 1.10011 10.9649 1.89368C12.0307 2.69579 12.7259 3.88792 12.8942 5.20211H9.10265C8.90029 4.2602 8.02488 3.61152 7.05418 3.68421C6.34303 3.65352 5.67381 4.01719 5.31857 4.62737C4.89242 5.42178 4.69164 6.3155 4.73755 7.21368C4.73755 9.38982 5.58922 10.4779 7.29255 10.4779C7.74481 10.47 8.18491 10.3317 8.55888 10.08C8.92878 9.85716 9.19607 9.50022 9.30377 9.08526H7.57561V6.47684H13.0432Z"
					fill="white"
				/>
				<path
					d="M18.2053 13.1011H14.2127V1.05368H23.6878V3.86842H18.2053V6.07895H22.5704V8.84211H18.2053V13.1011Z"
					fill="white"
				/>
				<path
					d="M28.5892 13.1011H24.5816V1.05368H28.5743L28.5892 13.1011Z"
					fill="white"
				/>
				<path
					d="M33.58 1.05368L37.9302 7.63368L37.7738 4.88526V1.05368H41.5951V13.1011H37.8706L33.5204 6.54316L33.6694 9.28421V13.1011H29.8406V1.05368H33.58Z"
					fill="white"
				/>
				<path
					d="M46.8764 13.1011H42.8838V1.05368H46.8764V13.1011Z"
					fill="white"
				/>
				<path
					d="M47.7703 4.21474V1.05368H58.9438V4.21474H55.3459V13.1011H51.3533V4.21474H47.7703Z"
					fill="white"
				/>
				<path
					d="M68.1731 1.05368L67.4952 2.37263L66.0725 5.13579L63.9793 1.05368H59.5099L64.0389 8.71684V13.1011H67.4952H68.0315V8.65053L72.568 1.05368H68.1731V1.05368Z"
					fill="white"
				/>
			</svg>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Logo'
}
</script>
<style lang="css" scoped>
.logo-wrap {
  background: #1B1B1B;
  width: 105px;
  height: 105px;
}
.logo-wrap svg{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
