<template>
	<div class="bg-wrapper">
		<div>
			<p class="page-name">{{ wrapperContent.pageName }}</p>
			<h2 class="main-text">{{ wrapperContent.mainText }}</h2>
			<p class="sub-text">{{ wrapperContent.subText }}</p>

			<div class="search-detail">
				<div class="detail">
					<p class="flex-one">Lobby</p>
					<div class="image-box">
						<img
							src="../../assets/images/avatar-01.png"
							alt="avatar"
						/>
					</div>
				</div>
				<div class="detail">
					<div class="flex-one">
						<p class="rect"></p>
					</div>
					<p class="lobby-update">
						<span>{{ wrapperContent.queueCount }}</span>
						{{ wrapperContent.lobbyUpdate }}
					</p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'MatchmakingLobby',
	props: {
		wrapperContent: Object,
		pageName: String
	}
}
</script>
<style lang="css" scoped>
.bg-wrapper {
  width: 351px;
  height: 532px;
  padding: 40px 20px 0;
  color: #fff;
}
.page-name {
  color: #fff;
}
.main-text {
  font-size: 48px;
  line-height: 44px;
  letter-spacing: -2px;
  color: #ffffff;
  margin: 25px 0;
  font-family: "BoldFont";

}
.sub-text {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.8px;
  color: #ffffff;
  font-family: "RegularFont";
}
.search-detail{
  padding-top: 30px;
}
.detail{
  display: flex;
  align-items: center;
  margin: 30px 0
}
.flex-one{
  flex-basis: 11%;
  margin-right: 30px
}
.detail p {
  font-size: 12px;
  color: #ffffff;
  font-family: "RegularFont";

}
.detail p span{
  font-family: "BoldFont";
}
.image-box{
  width: 56px;
  height: 56px;
  border: 2px solid white;
  border-radius: 100%;
  padding: 5px;
}
.image-box img{
  width: 42px;
  height: 42px;
  border-radius: 100%;
  object-fit: cover;
}
.rect{
  width: 12px;
  height: 2px;
  background: #fff;
}
.lobby-update{
  width: 246px
}
</style>
