<template>
	<div class="navbar">
		<nav>
			<Logo />
			<div class="nav-items">
				<div class="nav-item">
					<p>Fifa 19</p>
				</div>
				<div class="nav-item">
					<svg
						width="20"
						height="12"
						viewBox="0 0 20 12"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<rect width="20" height="3" fill="#1B1B1B" />
						<rect y="9" width="20" height="3" fill="#1B1B1B" />
					</svg>
				</div>
			</div>
		</nav>
	</div>
</template>

<script>
import Logo from './Logo.vue'

export default {
	name: 'Navbar',
	components: {
		Logo
	}
}
</script>
<style scoped>
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-item {
	margin-right: 30px;
}
.nav-item p {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -0.5px;
	color: #1b1b1b;
}
.nav-item svg {
	margin-top: 7px;
}
</style>
