<template>
	<div
		class="snack-bar"
		:style="{ width: width, background: background, color: color }"
	>
		<div class="snack-bar-content">
			<slot></slot>
		</div>
	</div>
</template>
<script>
export default {
	name: 'SnackBar',
	props: ['width', 'color', 'background'],
	data() {
		return {}
	},
	computed: {}
}
</script>
<style scoped>
.snack-bar {
	height: 89px;
	padding: 0 20px;
	color: #fff;
}
button {
	color: #fff;
	font-size: 14px;
}
.progress-info {
	font-size: 14px;
	letter-spacing: -0.5px;
	font-family: 'LightFont';
	color: #ffffff;
}
.snack-bar-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
</style>
